<!DOCTYPE html>
{% extends 'testapp/base.html'%}
{% block body_block %}
<div class="jumbotron">
  <div class="container">
    <h1>Hello Welcome to Murthy Exams</h1>
    <h2>Rules Of Exam </h2>
    <ul>
      <li>Take the test in your Chrome user profile. Do not use Guest or Incognito profile.</li>
        <li>Enter the test at the official start time indicated in the invitation.</li>
          <li>At the beginning of each exam, ScioLink checks your webcam, microphone, internet connection speed and the disk space on your computer.</li>
            <li>After checking the minimum technical requirements , you will be prompted to install the Proctoring Desktop extension. This extension monitors running processes and devices on your computer. The extension must be running during the entire exam.</li>
    </ul>

  </div>

</div>


{% endblock %}
